
.mapContainer{
    margin: 40px;
    display: grid;
    grid-template-rows: 1fr 1fr ;
}

.onMap{
    display: grid;
    grid-template-columns: 1fr 1fr ;
    margin-top: 150px;
}

#mapid{
    height: 100px;
    /* margin-top: 12px;
    margin-left: 10px; */

}
table, th, td {
    border: 1px solid black;
}




#nearOrders{
    margin: 2%;
    border-radius: 5px;
    display: grid;
    grid-template-columns: 1fr 1fr ;
    grid-gap: 10px;


}

.expected{
    display: grid;
    grid-template-rows: 1fr 1fr ;

}

.near{
    display: grid;
    grid-template-rows: 1fr 1fr ;
    grid-gap: 10px;
}

.near > div{
    box-shadow: 1px 1px 3px;
    border-radius: 5px;
    display: grid;
    justify-content: center;
    align-content: center;
    font-size: 15px;
    font-weight: bold;
    color: rgb(136, 26, 26);

}
    
.approved{
    box-shadow: 1px 1px 3px;
    border-radius: 5px;
    padding: 30px;
    font-size: 15px;
    font-weight: bold;
    color: rgb(2, 0, 8);
}

.approved:hover{
    background-color: #154647;
}

#expectedTime{
    box-shadow: 1px 1px 3px;
    border-radius: 5px;
    display: grid;
    grid-template-columns: 1fr 1fr ;

}


.expTime{
    font-weight: bold;
    margin: 2%;

}

.expDis{
    font-weight: bold;
    margin: 2%;
    margin-top: 60px;
}

.orderNumber{
    font-weight: 30px;
    /* margin: 2%; */
    font-size: 17px;
    color:#fa0808;
    margin-left: 30px;
    margin-top: 5px;


}

img {
    border-radius: 50%;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 150px;
    display: grid;
    justify-content: end;
    align-content: end;

}

.imgDel{  
    border-radius: 50%;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 150px;
    display: grid;
    justify-content: end;
    align-content: end;
    margin-top: 70px;

}

.fa-check-circle{
    font-size: 150px;
    color: rgb(7, 66, 34);
    display: grid;
    justify-content: center;
    align-content: center;
    padding: 40px;
}

.fa-bell{
    font-size: 50px;
    color: rgb(109, 84, 3);
    display: grid;
    justify-content: end;
    align-content: end;
    padding: 10px;

}

.nextCustomer{
    font-weight: 30px;
    margin: 2%;
    font-size: 17px;
    color:#154647;
    margin-top: 20px;
    

}


.orderNum{
    font-size: 100px;
    color: rgb(3, 85, 3);
    display: grid;
    justify-content: center;
    align-content: center;
}



.leaflet-container {
    height: 680%;
    width: 100%;
    border-radius: 5px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; 
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
  
  .leaflet-top{
      display:none;
  }


  .recOrder{
      color: rgb(3, 85, 3);
      margin-top: 10px;
  }

  .ordersLeft{
    color: rgb(128, 31, 6);
    margin-top: 10px;

  }

  .orderNumLeft{
    font-size: 100px;
    color: rgb(128, 31, 6);
    display: grid;
    justify-content: center;
    align-content: center;

  }


  .orderInfo{
    margin: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr ;

  }

  .total{
         margin-top: 1px;
         display: grid;
         grid-template-columns: 3fr 1fr ;
         margin: 2%; 
         margin-bottom: 100px;
  }

  




  element.style {
    position: relative;
}
.leaflet-container.leaflet-touch-drag.leaflet-touch-zoom {
    -ms-touch-action: none;
    touch-action: none;
}
.leaflet-container.leaflet-touch-drag {
    -ms-touch-action: pinch-zoom;
}
.leaflet-container.leaflet-touch-zoom {
    -ms-touch-action: pan-x pan-y;
    touch-action: pan-x pan-y;
}
.leaflet-container {
    height: 680%;
    width: 100%;
    border-radius: 5px;
}
.leaflet-container {
    font: 12px/1.5 "Helvetica Neue", Arial, Helvetica, sans-serif;
}
.leaflet-container {
    background: #ddd;
    outline: 0;
}
.leaflet-grab {
    cursor: -webkit-grab;
    cursor: -moz-grab;
}
.leaflet-container {
    -webkit-tap-highlight-color: transparent;
    box-sizing: inherit;
}

.leaflet-marker-icon{
    border: none;
}
