body{
  background-color: wheat;
}

.scan{
  width: 100px;
  height: 100px;
}

video{
  display: block;
  object-fit: contain;
  height: auto;
  width: 500px;
  outline: 1px solid red;
  margin-left: auto;
  margin-right: auto;

}
 
.subTitle2{
  color: #f0b33b; 
  font-weight: bold;
  text-align: center;
  text-align: center;
  margin-top: 70px;
}


.MuiPaper-root {
  color: #e0151c !important;
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  background-color: #eac4c9 !important;;
  margin-left: auto;
  margin-right: auto;
}


button {
  border-radius: 20px;
  border: 1px solid #FF4B2B;
  background-color: #FF4B2B;
  color: #FFFFFF;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;


}





